.xAxis {
  font-size: 14px;
  color: silver;
}

.yAxis {
  font-size: 0;
}

.areaBlue {
  fill: url(#blue-gradient) !important;
  opacity: 0.5;
}

.areaRed {
  fill: url(#red-gradient) !important;
  opacity: 0.5;
}
